In [1]:
import pandas as pd

In [2]:
jobchange=pd.read_csv('D:\Datascience\Job Change Data.csv')

In [3]:
jobchange.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,21.0,NaN,NaN,1,36,1
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15.0,50-99,Pvt Ltd,>4,47,0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5.0,NaN,NaN,never,83,0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,0.0,NaN,Pvt Ltd,never,52,1
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,21.0,50-99,Funded Startup,4,8,0

In [4]:
jobchange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  float64
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  int64
dtypes: float64(2), int64(3), object(9)
memory usage: 2.0+ MB

In [41]:
jobchange.isna().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                   0
company_size              5937
company_type              6139
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [42]:
jobchange.skew()

enrollee_id              -0.018391
city_development_index   -0.995428
experience                0.409730
training_hours            1.819237
target                    1.158815
dtype: float64

In [53]:
jobchange['gender'].fillna('Male')

0        Male
1        Male
2        Male
3        Male
4        Male
         ...
19153    Male
19154    Male
19155    Male
19156    Male
19157    Male
Name: gender, Length: 19158, dtype: object

In [55]:
jobchange['enrolled_university'].mode()

0    no_enrollment
dtype: object

In [56]:
jobchange['enrolled_university'].fillna('no_enrollment')

0           no_enrollment
1           no_enrollment
2        Full time course
3           no_enrollment
4           no_enrollment
               ...
19153       no_enrollment
19154       no_enrollment
19155       no_enrollment
19156       no_enrollment
19157       no_enrollment
Name: enrolled_university, Length: 19158, dtype: object

In [57]:
jobchange['education_level'].mode()

0    Graduate
dtype: object

In [58]:
jobchange['education_level'].fillna('Graduate')

0              Graduate
1              Graduate
2              Graduate
3              Graduate
4               Masters
              ...
19153          Graduate
19154          Graduate
19155          Graduate
19156       High School
19157    Primary School
Name: education_level, Length: 19158, dtype: object

In [59]:
jobchange['major_discipline'].mode()

0    STEM
dtype: object

In [60]:
jobchange['major_discipline'].fillna('STEM')

0                   STEM
1                   STEM
2                   STEM
3        Business Degree
4                   STEM
              ...
19153         Humanities
19154               STEM
19155               STEM
19156               STEM
19157               STEM
Name: major_discipline, Length: 19158, dtype: object

In [61]:
jobchange['experience'].mean()

10.100141413083318

In [62]:
jobchange['experience'].fillna(10.100141413083318)

0        21.0
1        15.0
2         5.0
3         0.0
4        21.0
         ...
19153    14.0
19154    14.0
19155    21.0
19156     0.0
19157     2.0
Name: experience, Length: 19158, dtype: float64

In [63]:
jobchange['company_size'].mode()

0    50-99
dtype: object

In [64]:
jobchange['company_size'].fillna('50-99')

0          50-99
1          50-99
2          50-99
3          50-99
4          50-99
          ...
19153      50-99
19154      50-99
19155      50-99
19156    500-999
19157      50-99
Name: company_size, Length: 19158, dtype: object

In [65]:
jobchange['company_type'].mode()

0    Pvt Ltd
dtype: object

In [66]:
jobchange['company_type'].fillna('Pvt Ltd')

0               Pvt Ltd
1               Pvt Ltd
2               Pvt Ltd
3               Pvt Ltd
4        Funded Startup
              ...
19153           Pvt Ltd
19154           Pvt Ltd
19155           Pvt Ltd
19156           Pvt Ltd
19157           Pvt Ltd
Name: company_type, Length: 19158, dtype: object

In [67]:
jobchange['last_new_job'].mode()

0    1
dtype: object

In [68]:
jobchange['last_new_job'].fillna('1')

0            1
1           >4
2        never
3        never
4            4
         ...
19153        1
19154        4
19155        4
19156        2
19157        1
Name: last_new_job, Length: 19158, dtype: object

In [70]:
jobchange.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                   0
company_size              5937
company_type              6139
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [71]:
jobchange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19158 non-null  float64
 9   company_size            13221 non-null  object
 10  company_type            13019 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  int64
dtypes: float64(2), int64(3), object(9)
memory usage: 2.0+ MB

In [72]:
cat_col = ['city','gender','relevent_experience','enrolled_university','education_level','major_discipline','company_size','company_type','last_new_job']
for i in cat_col:
    jobchange[i] = jobchange[i].astype('category')

In [73]:
jobchange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  category
 4   relevent_experience     19158 non-null  category
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19158 non-null  float64
 9   company_size            13221 non-null  category
 10  company_type            13019 non-null  category
 11  last_new_job            18735 non-null  category
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  int64
dtypes: category(9), float64(2), int64(3)
memory usage: 924.5 KB

In [74]:
job_dummy = pd.get_dummies(jobchange,columns=cat_col,drop_first=True)

In [75]:
job_dummy.shape

(19158, 159)

In [76]:
y=job_dummy[['target']]

In [77]:
x=job_dummy.drop(columns=['target'])

In [78]:
from sklearn.model_selection import train_test_split

In [80]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [81]:
len(x_train),len(x_test),len(y_train),len(y_test)

(13410, 5748, 13410, 5748)

In [82]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

## Model building on train data

In [83]:
log = LogisticRegression()
model_log = log.fit(x_train,y_train)

C:\Users\Mrunmayee\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\Mrunmayee\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [84]:
dt = DecisionTreeClassifier()
model_dt = dt.fit(x_train,y_train)

In [85]:
rf = RandomForestClassifier(n_estimators=200,random_state=42)
model_rf = rf.fit(x_train,y_train)

<ipython-input-85-e9ee33ec8ee4>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf = rf.fit(x_train,y_train)

In [86]:
y_test

       target
16144       0
13661       0
344         0
1034        0
8109        0
...       ...
20          0
16600       0
13358       0
12385       1
8355        0

[5748 rows x 1 columns]

## Predictions on test data

In [87]:
y_test['Predict_LR'] = model_log.predict(x_test)

<ipython-input-87-bc79607d2827>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Predict_LR'] = model_log.predict(x_test)

In [88]:
y_test['Predict_DT'] = model_dt.predict(x_test)

<ipython-input-88-e1bfd4eb0037>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Predict_DT'] = model_dt.predict(x_test)

In [89]:
y_test['Predict_RF'] = model_rf.predict(x_test)

<ipython-input-89-efc987ea5d9c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Predict_RF'] = model_rf.predict(x_test)

## Comparison for predicted values of logistic, decision tree, random forest

In [90]:
y_test

       target  Predict_LR  Predict_DT  Predict_RF
16144       0           0           0           0
13661       0           0           0           0
344         0           0           0           0
1034        0           0           1           1
8109        0           0           0           0
...       ...         ...         ...         ...
20          0           0           0           0
16600       0           0           0           0
13358       0           0           0           0
12385       1           0           0           0
8355        0           0           0           0

[5748 rows x 4 columns]

In [91]:
from sklearn.metrics import classification_report

## Accuracy for logistic regression is 77%

In [93]:
print(classification_report(y_test['target'],y_test['Predict_LR']))

              precision    recall  f1-score   support

           0       0.80      0.93      0.86      4300
           1       0.59      0.30      0.40      1448

    accuracy                           0.77      5748
   macro avg       0.70      0.62      0.63      5748
weighted avg       0.75      0.77      0.74      5748

## Accuracy for decision tree is 71%

In [94]:
print(classification_report(y_test['target'],y_test['Predict_DT']))

              precision    recall  f1-score   support

           0       0.81      0.80      0.81      4300
           1       0.43      0.45      0.44      1448

    accuracy                           0.71      5748
   macro avg       0.62      0.63      0.62      5748
weighted avg       0.72      0.71      0.71      5748

## Accuracy for random forest is 77%

In [96]:
print(classification_report(y_test['target'],y_test['Predict_RF']))

              precision    recall  f1-score   support

           0       0.82      0.90      0.86      4300
           1       0.57      0.42      0.48      1448

    accuracy                           0.77      5748
   macro avg       0.70      0.66      0.67      5748
weighted avg       0.76      0.77      0.76      5748