In [1]:
import pandas as pd
import numpy as np

In [5]:
startup= pd.read_csv(r"D:\Datascience\50_Startups.csv")

In [6]:
startup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
startup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [8]:
print(startup.isnull().sum())

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [12]:
startup_dummy=pd.get_dummies(startup,drop_first=True)

In [13]:
startup_dummy.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [14]:
x=startup_dummy.drop(columns=['Profit'])

In [15]:
y=startup_dummy[['Profit']]

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size = 0.2,random_state = 42)

In [18]:
len(X_train), len(X_test), len(Y_train), len(Y_test)

(40, 10, 40, 10)

In [19]:
from sklearn.linear_model import LinearRegression
startup_lr = LinearRegression()

In [20]:
model_lr = startup_lr.fit(X_train, Y_train)
model_lr

LinearRegression()

In [21]:
print(model_lr.coef_)

print(model_lr.intercept_)

[[ 8.05630064e-01 -6.87878823e-02  2.98554429e-02  9.38793006e+02
   6.98775997e+00]]
[54028.03959365]

In [22]:
model_lr.score(X_train,Y_train)

0.9537019995248526

In [25]:
Y_test['Predicted profit'] = model_lr.predict(X_test)

<ipython-input-25-17596e600551>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test['Predicted profit'] = model_lr.predict(X_test)

In [26]:
Y_test.head()

       Profit  Predicted profit
13  134307.35     126362.879083
39   81005.76      84608.453836
30   99937.59      99677.494251
45   64926.08      46357.460686
17  125370.37     128750.482885

In [28]:
Y_test['Error'] = Y_test['Profit'] - Y_test['Predicted profit']
Y_test.head()

<ipython-input-28-643236bc10d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test['Error'] = Y_test['Profit'] - Y_test['Predicted profit']

       Profit  Predicted profit         Error
13  134307.35     126362.879083   7944.470917
39   81005.76      84608.453836  -3602.693836
30   99937.59      99677.494251    260.095749
45   64926.08      46357.460686  18568.619314
17  125370.37     128750.482885  -3380.112885

In [29]:
Y_test['Squared Error'] = Y_test['Error'] ** 2 
Y_test

<ipython-input-29-0206c177805b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test['Squared Error'] = Y_test['Error'] ** 2

       Profit  Predicted profit         Error  Squared Error
13  134307.35     126362.879083   7944.470917   6.311462e+07
39   81005.76      84608.453836  -3602.693836   1.297940e+07
30   99937.59      99677.494251    260.095749   6.764980e+04
45   64926.08      46357.460686  18568.619314   3.447936e+08
17  125370.37     128750.482885  -3380.112885   1.142516e+07
48   35673.41      50912.417419 -15239.007419   2.322273e+08
26  105733.54     109741.350327  -4007.810327   1.606254e+07
25  107404.34     100643.242816   6761.097184   4.571244e+07
32   97427.84      97599.275746   -171.435746   2.939021e+04
19  122776.86     113097.425244   9679.434756   9.369146e+07

In [30]:
square_mean = Y_test['Squared Error'].mean()
square_mean

82010363.044301

In [31]:
import math
RMSE = math.sqrt(square_mean)
RMSE

9055.957323458464

In [32]:
startup_dummy.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

### a)	What will be the profit	if the company is from Florida, with RD spend 150000, Administration 100000, Marketing spend as 200000

In [43]:
pred_data = pd.DataFrame({'State_Florida':[1],
                          'State_New York':[0],
                         'R&D Spend' : [150000],
                           'Administration':[100000],
                           'Marketing Spend':[200000]})

pred_data

   State_Florida  State_New York  R&D Spend  Administration  Marketing Spend
0              1               0     150000          100000           200000

In [44]:
pred_profit = model_lr.predict(pred_data) 

pred_profit

array([[95335359.76990159]])

### b)	 What will be the profit	if the company is from New York, with RD spend 90000, Administration 180000, Marketing spend as 167000

In [45]:
predb_data = pd.DataFrame({'State_Florida':[0],
                          'State_New York':[1],
                         'R&D Spend' : [90000],
                           'Administration':[180000],
                           'Marketing Spend':[167000]})

predb_data

   State_Florida  State_New York  R&D Spend  Administration  Marketing Spend
0              0               1      90000          180000           167000

In [46]:
predb_profit = model_lr.predict(predb_data) 

predb_profit

array([[1.70206412e+08]])